# secrets / local config
.env
server_settings.json

# runtime state written by the bots
settings.json
.worker*.sock

# python
venv/
__pycache__/
*.pyc
settings.json.migrated
.main.sock
.bot.pid

# per-server config and per-user algo
database/
